.btn-inject
{
    position: absolute;
    bottom: 15px;
    right: 15px;

    width: 100px;
    height: 40px;

    background-color: #9b52be; //68b723
    outline-color: #9b52be;
    border-color: #9b52be;
    box-shadow: none;
    color: white;
    transition: all .3s;
}

.btn-inject:hover, .btn-inject.hover
{
    color: #000;
    background-color: #F94D35; //d1ff82
    border-color: #F94D35;
    transition: all .3s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-inject:disabled{
    background-color: transparent;
    outline-color: #abacae;
    border-color: #abacae;
    box-shadow: none!important;
    color: #abacae;
    filter: brightness(66%);
    transform: none;
}

.btn-inject:focus, .btn-inject.focus
{
    color: #fff;
    background-color: #D04D6F; //9bdb4d
    border-color: #D04D6F;
    transform: translateY(6px);
//    box-shadow: 0 0 0 0.0rem rgba(72, 180, 97, 0.5);
}

.btn-bypass
{
    position: absolute;
    bottom: 143px;
    right: 15px;
    width: 100px;
    height: 60px;
    color: #28bca3;
    background-color: transparent;
    border-color: #28bca3;
    transition: all .3s;
}
.btn-bypass:hover
{
    color: #000;
    background-color: #89ffdd;
    border-color: #89ffdd;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-bypass:focus, .btn-bypass.focus
{
    color: #fff;
    background-color: #43d6b5;
    border-color: #43d6b5;
    transform: translateY(6px);
//    box-shadow: 0 0 0 0.0rem rgba(58, 176, 195, 0.5);
}

.btn-theme
{
    position: absolute;
    bottom: 213px;
    right: 15px;
    width: 100px;
    height: 60px;
    color: #3689e6;
    background-color: transparent;
    border-color: #3689e6;
    transition: all .3s;
}
.btn-theme:hover
{
    color: #000;
    background-color: #8cd5ff;
    border-color: #8cd5ff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-theme:focus, .btn-theme.focus
{
    color: #fff;
    background-color: #64baff;
    border-color: #64baff;
    transform: translateY(6px);
    box-shadow: 0 0 0 0.0rem #64baff;
}



.btn-outline-primary {
    outline-color: #9b52be;
    border-color: #9b52be;
    box-shadow: none!important;
    color: #FFFFFF;
}

//.btn-outline-primary:hover, .btn-outline-primary:active
.btn-outline-primary:hover {
    background-color: #9b52be;
    border-color: #9b52be;
    color: #000000;
    box-shadow: none!important;
}

//.btn-outline-primary:focus
.btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #F94D35;
    color: #ffffff;
    box-shadow: none!important;
    border-color: #F94D35;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}