.detect-status{
    position: absolute;
    left: 135px;
    top: -8px;
    white-space: nowrap;
}

* {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



body {
    background: #454851;
    color: #A8C7FF;
    min-height: 100vh;
    font-family: 'Gotham Pro Medium';
}