@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('./fonts/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('./fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro-Medium.woff') format('woff'),
		url('./fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* 125% dpi fix */
@media (min-resolution: 120dpi) {
    html {
         font-size: 80%;
    }
}

@media (min-resolution: 144dpi) {
    html {
         font-size: 67%;
    }
}

@media (min-resolution: 168dpi) {
    html {
         font-size: 57%;
    }
}
