@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('./fonts/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('./fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro-Medium.woff') format('woff'),
		url('./fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
