.btn-inject
{
    position: absolute;
    bottom: 15px;
    right: 15px;

    width: 100px;
    height: 40px;

    background-color: #28a745;
    outline-color:#28a745;
    border-color:#28a745;
    box-shadow: none!important;
    color: white;
}

.btn-inject:disabled{
    background-color: transparent;
    outline-color:#dc3545;
    border-color:#dc3545;
    box-shadow: none!important;
    color: #dc3545;
    filter: brightness(66%)
}

* {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



body {
    background: #454851;
    color: #A8C7FF;
    min-height: 100vh;
}

.btn-outline-primary{
    outline-color:#A8BEFF;
    border-color:#A8BEFF;
    box-shadow: none!important;
    color: #A8C7FF;
}

.btn-outline-primary:hover, .btn-outline-primary:active{
    background-color: #A8BEFF;
    border-color:#A8BEFF;
    color: white;
    box-shadow: none!important;
}

.btn-outline-primary:focus{
    box-shadow: none!important;
    border-color: none !important;
}
